<pre>Handle            Email                  Score 
---------------   --------------------   ------
supertechguy      jer@supertechguy.com     3230
tjhiker           tj@uen.org                110
</pre>