#main	{
	width: 344px;
	height: 586px;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	background-image: url('/images/main.png');
	}

#mainform	{
	position: absolute;
	top: 290px;
	left: 50%;
	margin-left: -135px;
	width: 260px;
	text-align: center;
	}

pre	{
	font-size: 9px;
	}
